@charset "UTF-8";

section#conteudo {
	width: 1000px;
	margin: auto;
	overflow: hidden;
}

iframe#frame-spec {
	width: 400px;
	height: 280px;
	border: none;
	overflow: inherit;
}

iframe#frame-spec::-webkit-scrollbar { 
	width: 0 !important;
  	display: none;  
}